body{
	font-family: Arial;
}
.form{
	border: 2px solid blue;
	width: 400px;
	font-family: Arial;
}
.box{
	display: flex;
}
.block{
	background: green;
	display: none;
	text-align: center;
	width: 1000px;
	height: 600px;
	font-size: 30px;
}
img{
	width: 500px
}
.hgn{
	border: none;
	background: blue;
	color: white;
	height: 500px;
	width: 2500px;
	font-size: 450px;
	display: none;
}
.hgh{
	margin-left: 2000px;
}
